@model DataRecovery.Models.tblHardwareInventories

@{
    ViewBag.Title = "GetTblHardwareInventories";
}

<h2>Hardware Inventory</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
           System ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemId)
        </dd>

        <dt>
           Computer Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPUType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPUType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAMDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAMDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindowsActivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindowsActivated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterConnected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterConnected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasCdDrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCdDrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAMSlots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAMSlots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastScanDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastScanDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU_Core)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU_Core)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        

    </dl>
</div>

